@charset "ISO-8859-1";
html,body{
background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
background-size: cover;
background-position: center;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}
.largo,html,body{
background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
background-size: cover;
background-position: center;
background-repeat: repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}

.scritta{
	
color: white;
}