<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" th:href="@{/style.css}"/>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<meta charset="ISO-8859-1">
<title>Aggiorna Fattura</title>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Customer Service</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#" th:href="@{/web/clienti/homeclienti}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" th:href="@{/web/fatture/fatture}">Fatture</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" th:href="@{/web/clienti/clienti}">Clienti</a>
      </li>
    </ul>
    <span sec:authorize="isAuthenticated()" style="color:white" sec:authentication="name">username</span>
  </div>
</nav>
	<div id="my" class="container">
	<form action="#" th:action="@{/web/fatture/aggiornaFattura2/{id}(id=${fattura.getId()})}" th:object="${fattura}" method="post">
		<h2 class="scritta" style="text-align: center">Aggiorna Fattura</h2>
		<div class="content">
          <div class="center">

				<div class="input-group-text">
					<span class="input-group-text">Numero Fattura</span> <input type="number"
						name="numero" class="form-control" placeholder="Numero Fattura" th:field="*{numero}" disabled>
				</div>

				<div class="input-group-text">
					<span class="input-group-text">Anno Fattura*</span> <input type="number"
						name="anno" class="form-control" placeholder="Anno" th:field="*{anno}" required>
				</div>

				<div class="input-group-text">
					<span class="input-group-text">Importo*</span> <input name="importo" type="number" step="0.01"
						class="form-control" placeholder="Importo" th:field="*{importo}" required>
				</div>

				<div class="input-group-text">
					<span class="input-group-text">Stato Fattura*</span> <input
						name="stato" class="form-control" placeholder="Stato Fattura" th:field="*{statoFattura}" required>
				</div>
				<input class="btn btn-info mt-2" type="submit" id="submitButton" th:value="Aggiorna"> <input
					class="btn btn-info mt-2" type="reset" id="resetButton" name="reset" th:value="Reset" />
			</div>
		</div>


	</form>
	</div>
	<div class="footer fixed-bottom bg-secondary p-2 text-center mt-3">
		<p>copyright &copy; Powered by Giuliano Scassaioli
		<p>
	</div>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
</body>
</html>