<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<meta charset="ISO-8859-1">
<title>Aggiorna Cliente</title>
</head>
<body>
	<nav class="navbar navbar-dark bg-dark">
		<a class="navbar-brand" href="#">Energy Service </a> <span
			sec:authorize="isAuthenticated()" style="color: white"
			sec:authentication="name">username</span>
	</nav>
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item" aria-current="page"><a href="#"
				th:href="@{/web/clienti/homeclienti}">Home</a></li>
			<li class="breadcrumb-item" aria-current="page"><a href="#"
				th:href="@{/web/fatture/fatture}">Fatture</a></li>
			<li class="breadcrumb-item"><a href="#"
				th:href="@{/web/clienti/clienti}">Clienti</a></li>
		</ol>
	</nav>
	<div id="my" class="container">
		<form action="#" th:action="@{/web/clienti/aggiornaCliente2/{id}(id=${cliente.getId()})}" th:object="${cliente}" method="post">
			<h2 style="text-align: center">Aggiorna Cliente</h2>
			<div class="content">
				<div class="center">
					<div class="input-group-text">
						<span class="input-group-text">Nome</span> <input
							name="nomeContatto" class="form-control" placeholder="Nome" th:field="*{nomeContatto}"required>
					</div>
					<div class="input-group-text">
						<span class="input-group-text">Cognome</span> <input
							name="cognomeContatto" class="form-control" placeholder="Cognome" th:field="*{cognomeContatto}"required>
					</div>
					<div class="input-group-text">
						<span class="input-group-text">Ragione Sociale</span> <input th:field="*{ragioneSociale}"
							name="ragioneSociale" class="form-control"
							placeholder="Ragione Sociale" required>
					</div>

					<div class="input-group-text">
						<span class="input-group-text">Partita Iva</span> <input th:field="*{partitaIva}"
							name="partitaIva" class="form-control" placeholder="Partita Iva" required>
					</div>

					<div class="input-group-text">
						Tipo Cliente<select name="tipoCliente" th:field="*{tipoCliente}">
							<option value="SRL">SRL</option>
							<option value="SPA">SPA</option>
							<option value="SAS">SAS</option>
							<option value="PA">PA</option>
						</select>
					</div>

					<div class="input-group-text">
						<span class="input-group-text">Email</span> <input type="email" name="email" th:field="*{email}"
							class="form-control" placeholder="Email" required>
					</div>

					<div class="input-group-text">
						<span class="input-group-text">Pec</span> <input name="pec" th:field="*{pec}"
							 type="email" class="form-control" placeholder="Pec">
					</div>

					<div class="input-group-text">
						<span class="input-group-text">Telefono</span> <input th:field="*{telefono}"
							pattern="^[0-9]+$" name="telefono" class="form-control" placeholder="Telefono" required>
					</div>

					<div class="input-group-text">
						<span class="input-group-text">Telefono Contatto</span> <input th:field="*{telefonoContatto}"
							name="telefonoContatto" class="form-control" pattern="^[0-9]+$"
							placeholder="Telefono Contatto">
					</div>
					<div class="input-group-text">
						<span class="input-group-text">Email Contatto</span> <input
							type="email" name="emailContatto" class="form-control" th:field="*{emailContatto}"
							placeholder="Email Contatto">
					</div>
					<div class="input-group-text">
						<span class="input-group-text">Via Sede Operativa</span> <input
							name="viaSedeOperativa" class="form-control" th:field="*{indirizzoSedeOperativa.via}"
							placeholder="Indirizzo Sede Operativa" required>
					</div>
					<div class="input-group-text">
						<span class="input-group-text">Civico Sede Operativa</span> <input
							name="civicoSedeOperativa" class="form-control" th:field="*{indirizzoSedeOperativa.civico}"
							placeholder="Indirizzo Sede Operativa" required>
					</div>
					<div class="input-group-text">
						<span class="input-group-text">Cap Sede Operativa</span> <input
							name="capSedeOperativa" class="form-control" th:field="*{indirizzoSedeOperativa.cap}"
							placeholder="Cap Sede Operativa" required>
					</div>
					<div class="input-group-text">
					Comune Sede Operativa<select th:field="*{indirizzoSedeOperativa.comune}">
						<div th:each="comune: ${comuni}">
							<option th:value="${comune.id}" th:text="${comune.nome}"></option>
						</div>
					</select>
				</div>
					<div class="input-group-text">
						<span class="input-group-text">Via Sede Legale</span> <input th:field="*{indirizzoSedeLegale.via}"
							name="viaSedeLegale" class="form-control"
							placeholder="Indirizzo Sede Legale" required>
					</div>
					<div class="input-group-text">
						<span class="input-group-text">Civico Sede Legale</span> <input th:field="*{indirizzoSedeLegale.civico}"
							name="civicoSedeLegale" class="form-control"
							placeholder="Indirizzo Sede Legale" required>
					</div>
					<div class="input-group-text">
						<span class="input-group-text">Cap Sede Legale</span> <input  th:field="*{indirizzoSedeLegale.cap}"
							placeholder="Indirizzo Sede Legale" required>
					</div>
					<div class="input-group-text">
					Comune Sede Legale<select th:field="*{indirizzoSedeLegale.comune}">
						<div th:each="comune: ${comuni}">
							<option th:value="${comune.id}" th:text="${comune.nome}"></option>
						</div>
					</select>
				</div>
					<div class="input-group-text">
						<span class="input-group-text">Data Ultimo Contatto</span> <input th:field="*{dataUltimoContatto}"
							type="date" pattern="yyyy-MM-dd" name="dataUltimoContatto" class="form-control"
							placeholder="Data Ultimo Contatto"  required>
					</div>
					<div class="input-group-text">
						<span class="input-group-text">Fatturato Annuale</span> <input th:field="*{fatturatoAnnuale}"
							name="fatturatoAnnuale" class="form-control" pattern="^-?[0-9][0-9,\.]+$"
							placeholder="Fatturato Annuale" disabled>
					</div>
					<input class="mt-2" type="submit" id="submitButton" th:value="Aggiorna">
					<input class="mt-2" type="reset" id="resetButton" name="reset"
						th:value="Reset" />
				</div>

			</div>

		</form>
	</div>
	<div class="footer bg-secondary p-2 text-center mt-3">
		<p>copyright &copy; Powered by Giuliano Scassaioli
		<p>
	</div>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
</body>
</html>