<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<meta charset="ISO-8859-1">
<title>Aggiungi Fattura</title>
</head>
<body>
	<nav class="navbar navbar-dark bg-dark">
		<a class="navbar-brand" href="#">Energy Service</a> <span
			sec:authorize="isAuthenticated()" style="color: white"
			sec:authentication="name">username</span>
	</nav>
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item" aria-current="page"><a href="#"
				th:href="@{/web/clienti/homeclienti}">Home</a></li>
			<li class="breadcrumb-item" aria-current="page"><a href="#"
				th:href="@{/web/fatture/fatture}">Fatture</a></li>
			<li class="breadcrumb-item"><a href="#"
				th:href="@{/web/clienti/clienti}">Clienti</a></li>
		</ol>
	</nav>
	<div id="my" class="container">
	<form action="#" th:action="@{/web/fatture/salvafattura}"
		method="get">
		<h2 style="text-align: center">Aggiungi Fatture</h2>
		<div class="content">
			<div class="center">
				<div class="input-group-text">
					Ragione Sociale Cliente<select name ="ragioneSociale">
						<div th:each="cliente: ${clienti}">
							<option th:value="${cliente.ragioneSociale}" th:text="${cliente.ragioneSociale}"></option>
						</div>
					</select>
				</div>

				<div class="input-group-text">
					<span class="input-group-text">Numero Fattura</span> <input
						name="numero" class="form-control" placeholder="Numero Fattura" required>
				</div>

				<div class="input-group-text">
					<span class="input-group-text">Anno Fattura</span> <input
						name="anno" class="form-control" placeholder="Anno" required>
				</div>

				<div class="input-group-text">
					<span class="input-group-text">Importo</span> <input name="importo"
						class="form-control" placeholder="Importo" required>
				</div>

				<div class="input-group-text">
					<span class="input-group-text">Stato Fattura</span> <input
						name="stato" class="form-control" placeholder="Stato Fattura" required>
				</div>
				<input type="submit" id="submitButton" th:value="Save"> <input
					type="reset" id="resetButton" name="reset" th:value="Reset" />
			</div>
		</div>


	</form>
	</div>
	<div class="footer bg-secondary p-2 text-center mt-3">
		<p>copyright &copy; Powered by Giuliano Scassaioli
		<p>
	</div>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
</body>
</html>